@font-face {
    font-family: Sofia Sans;
    src: url(SofiaSans-VariableFont_wght.ttf);
  }

html, body {
    height: 100%;
    margin: 0;
}

body {
    background-color: #150050;
    font-family: Sofia Sans;
    font-weight: 700;
}

p, h1{
    color: white;
}

header img {
    width: 100%;
}

header {
    display: flex;
    flex-direction: column;
    justify-items:center;
}
header h1 {
    margin: 20px;
    margin-top: 60px;
    font-size: 50px;
    font-weight: bold;
    text-align: center;
}
header p {
    font-size: 20px;
}

.desc {
    text-align: center;
    margin: 50px;
}

nav a {
    font-size: 32px;
    color: white;
    transition: color .2s linear;
}
nav a:link {
    text-decoration: none;
}
nav a:visited {
    color: #FFF;
}
nav a:hover {
    color: #8338ec;
    transition: color .2s linear;
}
nav {
    margin: auto;

    text-align: center;
}
nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
nav li {
    margin: 1rem;
    padding: .35rem;
}


main {
    padding: 20px;
    min-height: 100%;
    margin: 0 auto -50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

main h2 {
    font-size: 40px;
    margin-top: 3%;
    margin-left: 2%;
    padding-left: 10px;
    color: white;
    margin-bottom: 10px;
}

section  {
    border-radius: 1rem;
    border: white 1px solid;
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 40px 0;
    text-align: center;
    padding-bottom: 1rem;
}

section div {
    display: flex;
    flex-direction: column;

}
section p {

    font-size: 32px;
}
 section canvas {
    width: 100px;
    height: 100px;
    margin: 10px;
    /* border-radius: 1rem;
    border: white 1px solid; */
    margin-right: auto;
} 

@media all  and ( max-width: 900px ) {
    section {
        align-items: center;
        width: 85%;
    }
    section div {
        align-items: center;
        margin-left: 0;
    }
    section a {
        margin: auto;
    }
    section h2 {
        text-align: center;
        margin-left: 0;
        padding-left: 0;
        padding: 0 20px;
        margin-top: 30px;
    }
    section p {
        margin-left: 0;
        padding-left: 0;
    }
    section canvas {
        margin-left: 0;
    }
}


footer,
.push {
  height: 50px;
}

footer {
    display: flex;
    width: 100%;
    height: 300px;
    background-color: #000;
    flex-direction: column;
    text-align: center;
}
footer button {
    width: 300px;
    height: 40px;
    background-color: #8338ec; 
    border: none;
    border-radius: .5rem;
    margin: auto;
    font-family: Sofia Sans;
    font-size: 15px;
    transition: background-color 0.2s linear;
}

footer button:hover {
    background-color: #FB2576;
    transition: background-color 0.2s linear;
}